{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<div class = "title">
Your role is <b>Receiver</b> in the next {{Constants.num_rounds}} rounds.
</div>

<div class = "left_column">

    <br>

    <div class = "subtitle">Instructions Summary:</div> <br>

<div class = "text">
One ball is drawn at random from an urn with three balls. Two balls are <font color="blue">Blue</font> and one is <font color="red">Red</font>.<br><br>
    You will get {{Constants.receiver_payoffs.1}} if you correctly guess the color of the ball, and {{Constants.receiver_payoffs.0}} otherwise. <br>
    The sender gets {{Constants.sender_payoffs.1}} if you guess Red regardless of the color of the drawn ball, and {{Constants.sender_payoffs.0}} otherwise.
    <br><br>

<b>The observation cost for the receiver is {{Constants.observation_cost}} in the next {{Constants.num_rounds}} rounds.</b>
    <br>
    The sender is designing Common Communication Plan and Hidden Communication Plan, please patiently wait after clicking Next. <br>
</div>

<div style="width: 100%; height:100px;  vertical-align: middle;" class = "break_box">
<br>
</div>
{% next_button %}

</div>

{% endblock %}
